.h1{
    background-color: red;
    color: #000;
    font-size: medium;
    font-family: sans-serif;
    font-size: medium;
}

h2{
    background-color: antiquewhite;
}
h3{
    background-color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}